.pass {
    color: green;
}

.fail {
    color: red;
}

.image-main {
    display: inline-block;
}

.test-fail-message {
    /* margin: 8px; */
}

.suite {
    margin: 8px;
}

.single-test-run {
    margin-left: 8px;
}

.failures-log {
    margin-left: 8px;
    margin-bottom: 8px;
}

.img-diff-main {
    margin-bottom: 8px;
}
